#forest {
    width: 100%;
    height: auto;
}

header div {
    height: 350px;
    max-width: 55%;
    margin: auto;
    overflow: hidden;
    
}
h1 {
    position: absolute;
    width: 100%;
    top: 13%;
    color: white;
    font-size: 500%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: black 3px;
    text-align: center;
}

nav {font-size: 14pt;
    position: relative;
    top: 50%;
    background-color: palegoldenrod;
    margin-right: 22.5%;
    margin-left: 22.5%;
    }

#home {
    display: inline-block;
    position: relative;
    left: 23%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 5%;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: medium;
    margin: auto;
    background-color: palegoldenrod;
}

#about {
    display: inline-block;
    position: relative;
    left: 23%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: medium;
    background-color: palegoldenrod;
}

#contact {
    display: inline-block;
    position: relative;
    left: 23%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 5%;
    margin-right: auto;
    background-color: palegoldenrod;
}

body {background-color: lightsalmon;
}

#lake {
    width: 200px;
    height: 200px;
    float: left;
    margin: 5px;
}
#canada {
    text-align: justify;
    font-size: 11pt;
}

article {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

#facts {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#learn {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

#questions {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
            border-style: solid;
            border-width: thin;
            border-color: black;
            padding: 1%;}

button {background-color: whitesmoke;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
            
footer {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        text-align: right;}

#everything {
            display: inline-block;
            margin-left: 22.5%;
            margin-right: 22.5%;
            margin-top: 0%;
            background-color: palegoldenrod;
}
